<html>
    <head>
        <style type="text/css">
            body {
                background-color: black;
                color: white;
            }
            a {
                color: white;
            }
        </style>
    </head>
    <body>
        <%= link_to 'Back', '/' %>
        <%= yield %>
    </body>
</html>
